/* Created by: Dominic M.
* Created on: Feb 2023
* This file contains the CSS for index.html
*/

/* Due to error in MDL : https://github.com/google/material-design-lite/issues/5281
*/
.mdl-ripple {
  background: #000;
  opacity: 0.001;
}

.mdl-layout__header-row {
  justify-content: center;
  padding: 0;
    color: #f00;
      font-size: 3;
}

.mdl-textfield__error {
  color: #fff;
}


.page-content {
  color: rgb(0, 255, 225);
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.25rem;
}

body {
  background-color: #878787;
}